POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=voz_ciudadana
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/voz_ciudadana
SECRET_KEY=llave_super_secreta
FIRMA_LIMITE=25000
FIRMA_PLAZO_DIAS=90
